.main-container {
  place-items: center center;
  background-color: #121212;
  width: 100vw;
  height: 100vh;
  color: white;
  flex-direction: column;
  height: 100%;
}

* {
  background-color: #121212;
  
}
.header {
  font-size: 75px;
}

.flexbox {
  flex-direction: row;
  display: flex;
}



.flex-dir {
  flex-direction: column;
}